<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>About Us</title>
    <style>
      .featurette-heading{
         font-family: "Gill Sans Extrabold", sans-serif;
         font-weight: bold;
      }
      .lead{
        font-family:"Comic Sans MS", cursive, sans-serif;
      }
      img {
  border-radius: 50%;
  width: 300px;
  height: 250px;
}
   .aboutTeam{
  /* background-color:#BCC6CC ; */
  background: url('/static/about/background.jpg');
  height: 100%;
  background-size: cover;
   }
    </style>
    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> <a class="navbar-brand" href="#">About Us</a> <button
            class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span
                class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"> <a class="nav-link" href="{% url 'home' %}">Home <span
                            class="sr-only">(current)</span></a> </li>
                <li class="nav-item"> <a class="nav-link" href="/college">College</a> </li>
            </ul>
        </div>
    </nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div class="w3-animate-zoom">
    <div class="aboutTeam" >
        <div class="container margin-left">
        <div class="row featurette">
            <div class="container col-md-7">
              <h2 class="container mt-3 featurette-heading">Rachit Patel</h2>
              <p class="container lead">Rachit Patel is currently pursuing his Bachelor in Technology degree from Shri Shankaracharya Technical Campus. He has vast knowledge in python and web framework.Apart from his technical capabilities he is highly dedicated.
                  <br>
                  <br>Linkedin Profile- <a href="https://www.linkedin.com/in/rachit-patel-b953361b6" target="_blank">https://www.linkedin.com/in/rachit-patel-b953361b6</a>
              </p>
            </div>
            <div class="col-md-5 mt-3">
                <img src="{% static 'about/rachit.jpg' %}" width="250px" height="250"alt="">
            </div>
          </div>
          </div>
          <div class="container">
          
          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading container">Sohan Kumar</h2>
              <p class="lead container">Sohan Kumar is currently pursuing his Bachelor's degree from Shri Shankaracharya Technical Campus.He Highly enthusiastic towards web development,provides out of the box ideas and make it a success.
                  <br>
                  <br>Linkedin Profile-<a href="https://www.linkedin.com/in/sohan-kumar-kurrey-8864081b7/" target="_blank">https://www.linkedin.com/in/sohan-kumar-kurrey-8864081b7/</a>

              </p>

            </div>
            <div class="col-md-5 order-md-1">
                <img style="margin-left:80px;" src="{% static 'about/sohan.jpg' %}" width="350px" height="270" alt="">
            </div>
          </div>
          </div>
          <div class="container">
          
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading container">Krishna Kumar Sahu</h2>
              <p class="lead container">Krishna has ample of knowledge in python and Jquery and he is currently in final year of his MCA degree.With the skills in hand it makes the work easier to do the detailed work in any kind of projects.
                  <br>
                  <br>Linkedin Profile-<a href="https://www.linkedin.com/in/krishna-kumar-sahu-705015194" target="_blank">https://www.linkedin.com/in/krishna-kumar-sahu-705015194</a>
              </p>
            </div>
            <div class="col-md-5">
                <img src="{% static 'about/krishna1.jpg' %}" width="250px" height="250"alt="">
            </div>
          </div>
          </div>
          <div class="container">
          <div class="row featurette">
          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading container">Rishabh Pandey</span></h2>
              <p class="lead container">Rishabh is currently pursuing his Bachelor in Technology degree.He is also skilled in graphic designing and python.He contribute is skills in making the project look more presentable and eyecatching.
                  <br>
                  <br>Linkedin Profile-<a href="https://www.linkedin.com/in/rishabh-pandey-6236b6153" target="_blank">https://www.linkedin.com/in/rishabh-pandey-6236b6153</a>
              </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img style="margin-left:100px;" src="{% static 'about/rishabh.jpg' %}" width="250px" height="250"alt="">
            </div>
          </div>
          </div>
        </div>
</div>

</body>

</html>